#!/usr/sh

# caps is ctrl, win+space change layout
setxkbmap -option grp:win_space_toggle
setxkbmap -option ctrl:nocaps

# picom
picom &

# turn battery optimizer
tlp start &

# set background
~/.fehbg &

# turn blocks for status bar
~/finally-ready/dwm-bar/dwm_bar.sh &

